/* ======================================================================================================= 
                                             Main Styling
======================================================================================================= */

body {
    font-family: 'Roboto', sans-serif;
}

.w-26 {
    width: 26%!important;
}

.main-container {
    height: calc(100vh - 97px);
    padding: 3rem 0;
}

.row.add {
    padding-bottom: 2rem;
}


/* ======================================================================================================= 
                                             Nav Bar
======================================================================================================= */

.navbar {
    background: #29363d;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #b9b8b8;
}


/* ======================================================================================================= 
                                             Products Page
======================================================================================================= */


/* ======================================================================================================= 
                                             Product Page
======================================================================================================= */


/* ======================================================================================================= 
                                             Footer
======================================================================================================= */

footer {
    background: #29363d;
    ;
    color: white;
}